/* 隐藏Waline版权标识 */
.wl-power {
  display: none !important;
}
/* 隐藏Twikoo版权标识 */
.tk-footer {
  display: none;
}
/*哔哩哔哩视频适配*/
.aspect-ratio {
  position: relative;
  width: 90%;
  height: auto;
  padding-bottom: 75%;
  margin: 3% auto;
  text-align: center;
}
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 86%;
  left: 0;
  top: 0;
}


/*加载动画*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 10px;
  left: 0;
  right: 0;
  height: 8px;
  border-radius: 8px;
  width: 4rem;
  background: #eaecf2;
  border: 1px #e3e8f7;
  overflow: hidden;
}

.pace-inactive .pace-progress {
  opacity: 0;
  transition: 0.3s ease-in;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 200px;
  position: absolute;
  z-index: 2000;
  display: block;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 1.5s ease infinite;
  background-size: 200%;
}

.pace.pace-inactive {
  opacity: 0;
  transition: 0.3s;
  top: -8px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.loading-img {
  background: url(/img/favicon.png) no-repeat center center;
  background-size: cover;
}

/* 页脚透明 */

#footer {
    background: rgba(255,255,255,.15);
    color: #000;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    backdrop-filter: saturate(100%) blur(5px)
}

#footer::before {
    background: rgba(255,255,255,.15)
}

#footer #footer-wrap {
    color: var(--font-color)
}

#footer #footer-wrap a {
    color: var(--font-color)
}


/* 页面背景 */

#body-wrap {
	background: linear-gradient(90deg,
		rgba(247, 149, 51, 0.1) 0,
		rgba(243, 112, 85, 0.1) 15%,
		rgba(239, 78, 123, 0.1) 30%,
		rgba(161, 102, 171, 0.1) 44%,
		rgba(80, 115, 184, 0.1) 58%,
		rgba(16, 152, 173, 0.1) 72%,
		rgba(7, 179, 155, 0.1) 86%,
		rgba(109, 186, 130, 0.1) 100%);
}


/* 公告欢迎信息 */
#welcome-info {
  background: linear-gradient(45deg, #EEF7FA, #EEF7FA);
  border-radius: 18px;
  padding: 8px;
}
[data-theme="dark"] #welcome-info {
  background: #212121;
}



/* 假设公告的类名为 .notice */
.home_notice {
  text-align: center; /* 居中文本 */
  /* font-weight: bold;  加粗文本 */
  font-size: 16px; /* 设置字体大小为16px */
}


/* 帧率检测 */
#fps {
  position: fixed;
  /* 指定位置 */
  left: 10px;
  bottom: 10px;
  z-index: 1919810;
}
[data-theme="light"] #fps {
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: var(--backdrop-filter);
  padding: 4px;
  border-radius: 4px;
}
[data-theme="dark"] #fps {
  background-color: rgba(0, 0, 0, 0.72);
  backdrop-filter: var(--backdrop-filter);
  padding: 4px;
  border-radius: 4px;
}


/* 新年侧边栏 */

#newYear {
    color: white;
    padding: 0 !important;
}

#newYear p,
#newYear h3 {
    font-weight: normal;
    color: #F1F3F5;
    font-weight: bold;
    margin: 0;
}

#newYear .item-headline {
    display: none;
}

#newYear-main {
    min-height: 160px;
    padding: 1rem;
    position: relative;
    border-radius: 5px;
    background-image: url(/img/2025.jpg);
    background-size: cover;
    background-position: center;
}

#newYear-main * {
    position: relative;
    line-height: 1.3;
}

#newYear-main .newYear-time {
    font-weight: bold;
    text-align: center;
    color: #F1F3F5;
}

#newYear-main .time,
#newYear-main .happyNewYear {
    font-size: 3.5rem;
    margin: 1rem 0;
    display: block;
}

#newYear-main .day {
    font-size: 5rem;
}

#newYear-main .day .unit {
    font-size: 1rem;
}

#newYear-main .mask {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
}